.news-tab-con{
    margin: 0 auto;
    margin-top: 60px;
    width: 895px;
    background: #fff;
}

.news-tab-con .tabin{
	border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
	height: 39px;
    line-height: 39px;
    position: relative;
}

.news-tab-con .tabin li{
	float: left;
}

.news-tab-con .tabin li:hover,.news-tab-con .tabin li.active{
	background-color: #b3b6bb !important;
    color: #fff;
    font-weight: bold;
}

.news-tab-con .tabin .item{
	font-size: 14px;
	width: 80px;
	color: #333;
	text-align: center;
	cursor: pointer;
}

.news-tab-con .tabin .guanzhu{
    width: 124px;
    position: relative;
}

.news-tab-con .tabin .guanzhu .icon{
	position: absolute;
	top: 10px;
    left: 12px;
	width: 20px;
	height: 18px;
	background: url(../img/card_setts_fdb17359.png) no-repeat -15px 0;
}

.news-tab-con .tabin .setting{
	position: absolute;
	top: 11px;
    right: 14px;
	width: 18px;
	height: 18px;
	background: url(../img/card_setts_fdb17359.png) no-repeat -121px -49px;
}

.news-tab-con .tabin .setting:hover{
	background-position: -121px -73px;
}

.news-tab-con .content{
	border: 1px solid #e9e9e9;
	min-height: 400px;
}

.news-tab-con .content .item{
	display: none;
	overflow: hidden;
}

.news-tab-con .content .active{
	display: block;
}

.mine-wrap .mine-nav .title{
	position: relative;
	margin: 20px 10px 10px;
}

.mine-wrap .mine-nav .title span{
	margin-left: 20px;
}

.mine-wrap .mine-nav .title em{
	position: absolute;
	width: 0;
	height: 0;
	top: 6px;
    left: 10px;
	border: 5px solid transparent;
	border-left-color: #000; 
}

.mine-wrap .mine-nav{
}

.mine-wrap .mine-nav .title{
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
	cursor: pointer;
}

.mine-wrap .mine-nav .open em{
    left: 5px;
    top: 9px;
	border-left-color: transparent;
	border-top-color: #000; 
}

.mine-wrap .mine-con{
	display: none;
	width: 844px;
	margin: 0 auto;
}

.mine-wrap .mine-con .dir-item{
	overflow: hidden;
}

.mine-wrap .open{
	display: block;
}

.mine-con .dir-item{
	margin: 0 auto;
    border-bottom: 1px solid #e9e9e9;
}
.mine-con .dir-item .name-text{
	display: block;
	float: left;
	width: 60px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
}

.mine-con .dir-item .d-nav-item{
	float: left;
	width: 775px;
}

.mine-con .dir-item .d-nav-item a{
	position: relative;
	display: inline-block;
	padding-left: 22px;
	font-size: 14px;
    height: 42px;
    line-height: 42px;
    width: 129px;
    text-decoration: none;
    color: #333;

}

.mine-con .dir-item .d-nav-item a:before{
	content: '';
	position: absolute;
	top: 13px;
	left: 0;
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/95491.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.baozi:before{
	background: url(../img/80464.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.sougou:before{
	background: url(../img/9933.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.souhu:before{
	background: url(../img/95505.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.junshi:before{
	background: url(../img/6000.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.tie:before{
	background: url(../img/2556.png) 0 0 no-repeat;
}

.mine-con .dir-item .d-nav-item a.pingshu:before{
	background: url(../img/91362.png) 0 0 no-repeat;
}

.item .customer{
	display: block;
	position: relative;
	margin: 30px 20px;
	color: #333;
	text-decoration: none;
	font-size: 14px;
}

.item .customer .add{
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 5px;
	left: 6px;
	background: url(../img/mine_set_818172e0.png) 0 0 no-repeat;
	background-position: 
}

.item .customer span{
	margin-left: 22px;
}

.content .left-con{
	width: 538px;
	float: left;
	margin: 0 25px;
}

.content .left-con .tuijian-title{
	height: 38px;
	padding-top: 15px;
}

.content .left-con .left-line,
.content .left-con .right-line
{
	vertical-align: middle;
	display: inline-block;
    width: 170px;
    border-top: 1px solid #e9e9e9;	
}

.content .left-con .tips-content{
	display: inline-block;
	font-size: 13px;
	color: #999;
}

.content .left-con .tips-content i{
	display: inline-block;
	height: 14px;
	width: 12px;
	margin: 0 6px 0 6px;
	background: url(../img/news_88aeb6fe.png) -45px -1px no-repeat;

}

.tuijian-item{
	overflow: hidden;
	border-bottom: 1px solid #e9e9e9;
}

.tuijian-item img{
	float: left;
	padding: 20px 0;
}

.s-block-container{
	float: left;
	padding-left: 21px;
	padding-top: 40px;
	width: 337px;
}

.s-block-container a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.s-block-container .from,
.tuijian-item .from{
	padding: 11px 0;
}

.s-block-container .from a,
.s-block-container .from .time,
.tuijian-item .from a,
.tuijian-item .from .time{
	color: #999;
	font-size: 13px;
	text-decoration: none;	
	margin-right: 8px; 
}

.s-block-container .from .hot,
.tuijian-item .from .hot{
	color: #f13f40;
    border: 1px solid #efb9b9;
    font-size: 12px;
    line-height: 12px;
    padding: 0 2px;
    border-radius: 3px;
}

.tuijian-item > a{
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding-top: 20px;
    padding-bottom: 2px;
}

.hot-con{
	float: left;
	width: 300px;
    margin-top: 20px;
}

.hot-con .s-rank-title{ 
	height: 30px;
    width: 270px;
}

.hot-con .s-rank-title .hot,
.hot-con .s-rank-title .refresh{
	text-decoration: none;
	color: #000;
	font-size: 14px;
} 

.hot-con .s-rank-title .hot{
	font-weight: bold;

}

.hot-con .s-rank-title .refresh{
	float: right;
}

.hot-con .s-rank-title .refresh-icon{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 16px;
	background: url(../img/news_88aeb6fe.png) -23px -25px no-repeat;
}

.hot-con .s-rank-title .refresh:hover .refresh-icon{
	background-position: -23px -42px;
}
.hot-con .s-rank-title .refresh:hover{
	color: #07f;
}

.s-news-rank-content .news-meta-item{
	float: left;
	width: 145px;
	height: 34px;
	line-height: 34px;
	margin-right: 3px;

}

.s-news-rank-content .news-meta-item a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
}

.s-news-rank-content .news-meta-item a:hover{
	color: #07f;
	text-decoration: underline;
}

.s-news-rank-content .news-artist a:after{
	content: '';
	display: inline-block;
	margin-left: 5px;
	vertical-align: text-bottom;
    width: 18px;
    height: 18px;
    background: url(../img/news_88aeb6fe.png) -57px -98px no-repeat;
}

.nav-block-wrapper{
    padding: 10px 0px 13px 25px;
}

.nav-block-wrapper .nav-item{
	height: 58px;
    line-height: 58px;
    width: 126px;
	text-align: center;
	background: #fcfcfc;
	float: left;
	margin: 15px 15px 0 0;
	cursor: pointer;
	border: 1px solid transparent;
}

.nav-block-wrapper .nav-item:hover{
	border: 1px solid #ececec;
}

.nav-block-wrapper h2{
	font-size: 14px;
	padding:15px 0 10px;
}

.nav-block-con{
	overflow:hidden;
}

.nav-block-wrapper .nav-item a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
}

.nav-block-wrapper .nav-item a:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	width: 16px;
	height: 16px;
	background: url(../img/6000.png) 0 0 no-repeat;
}

.nav-block-wrapper .nav-item a.nuomi:before{
	background: url(../img/9483.png) 0 0 no-repeat;
}

.nav-block-wrapper .nav-item a.jd:before{
	background: url(../img/95541.png) 0 0 no-repeat;
}

.nav-block-wrapper .nav-item a.no1:before{
	background: url(../img/95780.png) 0 0 no-repeat;
}

.nav-block-wrapper .nav-item a.yigou:before{
	background: url(../img/9483.png) 0 0 no-repeat;
}
.nav-block-wrapper .nav-item a.wei:before{
	background: url(../img/95693.png) 0 0 no-repeat;
}
.nav-block-wrapper .nav-item a.dangdang:before{
	background: url(../img/95517.png) 0 0 no-repeat;
}
.nav-block-wrapper .nav-item a.moko:before{
	background: url(../img/200066.png) 0 0 no-repeat;
}
.nav-block-wrapper .nav-item a.tenda:before{
	background: url(../img/10081.png) 0 0 no-repeat;
}
.nav-block-wrapper .nav-item a.dyyt:before{
	background: url(../img/95550.png) 0 0 no-repeat;
}

.video-con .video-col{
	float: left;
    margin-left: 20px;
    width: 195px;
    height: 320px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.video-con .video-col a{
	display: block;
	position: relative;
}

.video-con .video-col a img{
	display: block;
}

.video-col .v-txt{
    height: 49px;
    width: 175px;
    overflow: hidden;
    padding:0 9px;
    background: #F5F5F5;
    border: 1px solid #F1F1F1;
    border-top: none;
}

.video-col .v-txt .text{
	margin-top: 6px;
}


.video-col .v-txt a{
	font-size: 14px;
	color:#333;
	text-decoration: none;
}

.video-col .v-txt a:hover{
	color:#07f;
	text-decoration: underline;
}

.v-txt .score .s-star{
	display: inline-block;
    height: 13px;
    width: 65px;
	background: url(../img/videoimg/star_592adb7e.png);
        background-repeat: repeat-x;
    vertical-align: middle;
    margin-bottom: 4px;
    position: relative;
    margin-right: 5px;
}

.s-star .star-active{
    display: inline-block;
    position: absolute;
    top: 0;
    height: 13px;
	background: url(../img/videoimg/star_592adb7e.png);
    background-repeat: repeat-x;
    background-position: 0 -13px;
    vertical-align: middle;
    margin-bottom: 4px;
}

.s-top-search{
	height: 74px;
	width: 100%;
	background: #fff;
	position: fixed;
	z-index: 1200;
	top: 0;
	display: none;
    box-shadow: 0 0 5px #888;
}

.search-container{
	width: 890px;
	margin-left: 230px;
	overflow: hidden;
}

.logo2{
	margin-top: 17px;
	float: left;
	width: 101px;
}

.search-container form{
	margin-top: 16px;
}




