.pager-wrap{
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 20px;
	zoom: 1;
} 

.clearf:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main{
	float: right;
}

.sidebar{
	float: left;
	width: 210px;
	background: #fff;
}

.all-category{
	position: relative;
    border: 1px solid #35b558;
}

.all-category .hd{
    height: 45px;
    padding: 0 32px;
    border-bottom: 1px solid #eee;
    line-height: 45px;
    cursor: default;
}

.all-category .hd a{
	color: #35b558;
	font-size: 14px;
}

.aside-cList li{
	height: 37px;
	line-height: 37px;
	padding-left: 32px;
}

.aside-cList li a{
	font-size: 13px;
	color: #666;
}


.aside-cList li:not(:last-child){
	border-bottom: 1px solid #eee;
}

.aside-cList .item .show-list{
	display: none;
	position: absolute;
	z-index: 1000;
	top: -1px;
    width: 402px;
	left: 209px;
    border: 1px solid #ddd;
    background: #fff;
    min-height: 400px;
    margin-bottom: 30px;
}

.aside-cList li.tab-open{
	height: 38px;
	padding-left: 24px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	margin-top: -1px;
	margin-bottom: -1px;
	box-shadow: 1px 2px 4px rgba(0,0,0,.1);
}

.aside-cList li:last-child.tab-open{
	height: 38px;
	border-bottom: none;
}


.aside-cList li.tab-open > a{
	display: block;
    width: 188px;
    background: #fff;
    position: absolute;
    z-index: 1102;
    border-right: 3px solid #fff;/* 用白色右边框遮住背景边框 */
    color: #35b558;
    font-size: 13px;
    font-weight: 500;
    line-height: 38px;
}

.aside-cList li:last-child.tab-open > a{
	line-height: 36px;
}



.aside-cList li.tab-open .show-list{
	display: block;
}


.aside-cList .item .show-list dl{
	margin: 0 15px;
}

.aside-cList .item .show-list dt{
    border-bottom: 1px solid #f5f5f5;
    height: 37px;
    line-height: 45px;
}

.aside-cList .item .show-list dt>a{
    color: #333;
    font-size: 13px;
    font-weight: 500;
}

.aside-cList .item .show-list dd>a:hover{
	color: #35b558;
}


.hd-list li{
	height: 45px;
	line-height: 45px;
}

.hd-list li:hover{
	background:#fafafa url(../img/courseStore/img-seeall_b965178.png) 160px center no-repeat;
	background-size: 40px 10px;
}

.hd-list li:hover a{
	color: #35b558;
}

.hd-list li a{
	color: #333;
	font-size: 14px;
	padding-left: 10px;
}

.hd-list li a i{
	display: inline-block;
	margin-right: 5px;
	height: 15px;
	width: 15px;
	background:url(../img/courseStore/icon-zylj_6ee6dac.png) 0 0 no-repeat;
	background-size: 15px 14px;
}


/* ------------main----------------- */
.main{
	float: right;
	width: 776px;

}
.main .sort{
	height: 38px;
    background: #fff;
    color: gray;
    line-height: 38px;
}

.main .sort-mode{
	float: left;
	font-size: 12px;
	text-align: center;
	height: 38px;
}

.main .sort-mode h3{
	float: left;
    padding: 0 21px;
    background: #fff;
    border-right: 1px solid #f5f5f5;
    font-size: 12px;
    font-weight: 400;
}
.main .sort-mode dl{
	float: left;
	position: relative;
	z-index: 110;
	height: 36px;
	overflow: hidden;
	background: #fff;
	margin: 0 1px;/* 用1px填充添加边框后的1px */
}

.main .sort-mode dt{
	position: relative;
	padding: 0 32px 0 18px;
}


.main .sort-mode dl.open{
	margin: 0;
	border: 1px solid #e4e4e4;
	border-width: 0 1px 1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.1);
	height: auto;
}

.main .sort-mode dl dt:after{
    content: '';
    position: absolute;
    top: 13px;
    right: 18px;
    display: block;
    height: 6px;
    width: 6px;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    transform: rotate(-45deg);
}

.main .sort-mode dl.open dt:after{
	display: none;
}

.main .sort-mode dd a{
	display: block;
	text-decoration: none;
	color: gray;
	font-size: 12px;
}

.main .sort-mode dd a:hover{
	color: #35b558;
}

.main .display-mode{
	float: right;
	height: 38px;
}

.main .display-mode div{
	float: left;
	padding: 12px;
    border-left: 1px solid #f5f5f5;
    cursor: pointer;
}


.main .display-mode .kuai-icon i{
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../img/courseStore/icon-kuai_3c1a8cf.png) 0 0 no-repeat;
	background-size: cover;
}

.main .display-mode .list-icon i{
	display: inline-block;
	height: 14px;
	width: 19px;
	background: url(../img/courseStore/icon-list_6d9f87f.png) 0 0 no-repeat;
	background-size: cover;
}


/* --------lesson-list:kuai-display ---------------*/

.main .lesson-list ul{
	margin-top: 15px;
}

.main .lesson-list .item{
	float: left;
    height: 225px;
    width: 250px;
    margin-right: 13px;
    margin-bottom: 13px;
    list-style: none;
}

.main .lesson-list .item:nth-child(3n){
	margin-right: 0;
}


.main .lesson-list .imgbox{
    width: 100%;
    height: 135px;
    position: relative;
}

.main .lesson-list .imgbox img{
	width: 100%;
	height: 135px;
}

.main .lesson-list .imgbox .shoucang{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/courseStore/shoucang-1_76dc56f.png) 0 0 no-repeat;
	background-size: 16px 16px;
	z-index: 101;
	display: none;
}

.main .lesson-list .lesson-play{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	opacity: 0;
}

.main .lesson-list .lesson-play i{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background: url(../img/courseStore/player_icon_5c67475.png);
	background-size: 50px 50px;
}


.main .lesson-list .infor{
	box-sizing: border-box;
	position: relative;
	z-index:200;
	height: 88px;
	padding: 10px;
	background: #fff;
	overflow: hidden;
}


.main .lesson-list .infor h2{
    font-size: 14px;
    color: #333;
    line-height: 18px;
    margin-bottom: 12px;
    height: 36px;
}

.main .lesson-list .infor h2 a{
	color: #333;
	font-weight: 400;
}

.main .lesson-list .infor p{
	color: gray;
    font-size: 12px;
    line-height: 18px;
    margin-bottom:10px;
    height: 52px;
    opacity: 0;
    height: 0;
}

.main .lesson-list .infor .timeandicon{
	font-size: 12px;
	color: gray;
}


.main .lesson-list .infor .time-dengji{
	float: left;
	font-size: 12px;
	margin: 0 15px 0 0;
	width: 100%;
}

.main .lesson-list .infor .time-dengji .time{
	margin-bottom: 5px;
}


.main .lesson-list .infor .time-dengji .time i{
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	background: url(../img/courseStore/clok_a413ecf.png) 0 0 no-repeat;
	background-size: 14px;
}

.main .lesson-list .infor .time-dengji .dengji i{
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	background: url(../img/courseStore/tow-ji_ec2b553.png) 0 0 no-repeat;
	background-size: 14px;
}

.main .lesson-list .infor .time-dengji .learn-number{
	float: right;
	font-style: normal;
}



.main .lesson-list .infor .yun-icon{
	position: absolute;
	bottom:11px;
	right: 13px;
	display: none;
	width: 16px;
	height: 16px;
	background: url(../img/courseStore/572318c5ac303.png) 0 0 no-repeat;
	background-size: 16px;
}

/* --------------------------------- */
/* -----lesson-list2:list-display ------*/
.main .lesson-list2 .item{
	margin-top:13px;
	height: 100px;
	background: #fff; 
}

.main .lesson-list2 .item .imgbox{
    width: 185px;
    height: 100px;
    float: left;
    margin-right: 15px;
    position: relative;
}

.main .lesson-list2 .item .imgbox img{
	width: 185px;
}

.main .lesson-list2 .item .infor{
	float: left;
	position: relative;
	height: 88px;
	width: 566px;
}

.main .lesson-list2 .infor h2{
    font-size: 14px;
    color: #333;
    line-height: 21px;
    margin: 5px 0;
}

.main .lesson-list2 .infor h2 a{
	color: #333;
	font-weight: 400;
}

.main .lesson-list2 .infor p{
	color: gray;
    font-size: 12px;
    margin-bottom:10px;
    height: 36px;
}

.main .lesson-list2 .timeandicon{
	font-size: 12px;
	color: gray;
}

.main .lesson-list2 .time-dengji .learn-number{
	float: right;
	font-style: normal;
}

.main .lesson-list2 .infor .time-dengji dd{
	float: left;
}

.main .lesson-list2 .infor .time-dengji .time i{
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin-right: 8px;
	background: url(../img/courseStore/clok_a413ecf.png) 0 0 no-repeat;
	background-size: 14px;
}

.main .lesson-list2 .infor .time-dengji .dengji i{
	float: left;
	display: block;
	width: 14px;
	height: 14px;
	margin: 0 8px 0 12px;
	background: url(../img/courseStore/tow-ji_ec2b553.png) 0 0 no-repeat;
	background-size: 14px;
}

.main .lesson-list2 .imgbox .shoucang{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/courseStore/shoucang-1_76dc56f.png) 0 0 no-repeat;
	background-size: 16px 16px;
	z-index: 101;
	display: none;
}

.main .lesson-list2 .lesson-play{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	opacity: 0;
}

.main .lesson-list2 .lesson-play i{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
	background: url(../img/courseStore/player_icon_5c67475.png);
	background-size: 50px 50px;
}

.main .lesson-list2 .infor .yun-icon{
	display: block;
	position: absolute;
	top:5px;
	right: 0px;
	width: 16px;
	height: 16px;
	background: url(../img/courseStore/572318c5ac303.png) 0 0 no-repeat;
	background-size: 16px;
}
/* ---------------------------------- */



/* --------------------------------- */

